body{
    color: (64, 58, 87);
}
table {
    border-collapse: collapse;
    border: 2px solid rgb(255, 0, 0);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;    
}     
th, td{
    padding: 8px 10px;
}
td:last-of-type{
    text-align: center;
}

