body{
    background-color:  rgb(5,4,10);
    background-image: linear-gradient(to bottom,rgba(126,51,2,0.6),rgba(0,0,0,0.5)), url(pexels-abed-ismail-6697875.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width:100vw;
    min-height: 100vh;
    
}
header{
    text-align: center;
    max-width: 100vw;
    justify-content: center;
    color: rgb(255, 187, 0);
    font:italic;
    font-size: x-large;
    font-weight:1000;
    letter-spacing: 7px;
}
table {
   
    border-collapse: collapse;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 2rem;
    letter-spacing: 1px;    
}     
tbody{
   
}
th, td{
    padding: 8px 10px;
    
}
td:last-of-type{
    text-align: center;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:hover{
    color: rgba(100,175,183,255);
}
#litenbrumbrum{
    z-index: -1;
}
.tabölbårder{
    position:relative;
    left: 39vw;
    top: 60vh;
    border: 8px solid rgb(240, 94, 35);
    display: inline-block;
    border-radius: 20px;
}
.textruta{
    border: 8px solid rgb(240, 94, 35);
    border-radius: 20px;
    font-family: sans-serif;
    color: rgba(100,175,1833,255);
    position: relative;
    text-align: left;
    width: 30vw;
    top: 60vh;
}