body{
    width: 98%;
    min-height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom,rgba(126,51,2,0.9),rgba(0,0,0,1)), url(bilder/chequered_flag_italy\ \(1\).avif);
}
a{
    position:sticky;
    left: 48vw;
    color: white;
    width: 30vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
table{
    position:sticky;
    left: 2vw;
    color: white;
    width: 30vw;
    height: 800px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    margin: 20px;
    padding: 20px;
    border: 7px solid white;
    border-radius: 20px;
}
p{
    position:relative;
    left: 50vw;
    bottom: 819px;
    color: white;
    width:38vw;
    height: 50vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    margin: 20px;
    padding: 20px;
    border: 7px solid white;
    border-radius: 20px;
}
.senna{
    position:absolute;
    left: 45vw;
    top: 700px;
}
.ram{
    position: absolute;
    border: solid 7px white;
    left: 44.65vw;
    top: 692px;
    height: 619px;
    width: 960px;
}
.sennatext{
    position:absolute;
    left: 48vw;
    top: 900px;
    left: 100px;
    color: white;
    width: 30vw;
    height: 300px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    margin: 20px;
    padding: 20px;
    border: 7px solid white;
    border-radius: 20px;
}