body{
    background-color: rgb(82, 7, 7);
    
}
p{
    position:sticky;
    left: 44vw;
    color: white;
    width: 50vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.alphatext{
    margin: 20px;
    padding: 20px;
    border: 7px solid white;
    border-radius: 20px;
}a{
    z-index: 2;
    position:sticky;
    left: 48vw;
    color: white;
    width: 30vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}