body{
width: 100%;
    min-height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom,rgba(126,51,2,0.9),rgba(0,0,0,1)), url(bilder/black-perforated-metal-background-metal-texture-steel-carbon-fiber-background-perforated-sheet-metal-vector.jpg);
}
p{
    position:sticky;
    left: 60vw;
    color: white;
    width: 30vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sasongtext{
    margin: 20px;
    padding: 20px;
    border: 7px solid white;
    border-radius: 20px;
}
.sasongchart{
    letter-spacing: 5px;
    position:sticky;
    top: 5%;
    color: white;
    width: 50vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}
a{
    position:sticky;
    left: 48vw;
    color: white;
    width: 30vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
