body{
    width: 100%;
    min-height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom,rgba(126,51,2,0.9),rgba(0,0,0,1)), url(bilder/chequered_flag_italy\ \(1\).avif);
}
a{
    position:sticky;
    left: 48vw;
    color: white;
    width: 30vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
table{
    position:sticky;
    top: 100px;
    left: 35vw;
    color: white;
    width: 30vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border:solid white 7px;
    border-color: white;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}
th{
    letter-spacing: 10px;
    font-size: larger;
}